{template tuan_header}
<div id="tuan_body">
    <div class="layout">
        <div id="content" class="content">
            <div class="tuan-main-box">
                <div class="tuan-main-box-top"></div>
                <div class="tuan-main-box-body">
                    <div class="head">
                        <h2>发起自助团购</h2>
                    </div>
                    <div class="sect">
                        <form method="post" action="{url tuan/member/ac/$ac/op/save}" enctype="multipart/form-data">
                        <div class="order-my-info">
                            <table class="info-table">
								<tr>
									<td class="info-key">标题<span class="font_1">*</span></td>
									<td class="info-input"><input type="text" name="title" value="$detail[mobile]" size="48" /></td>
								</tr>
								<tr>
									<td class="info-key">图片</td>
									<td class="info-input"><input type="file" name="picture"></td>
								</tr>
								<tr>
									<td class="info-key" valign="top">期望价格<span class="font_1">*</span></td>
									<td class="info-input"><input type="text" name="price" value="$detail[mobile]" size="20" />&nbsp;元</td>
								</tr>
								<tr>
									<td class="info-key" valign="top">详细说明<span class="font_1">*</span></td>
									<td class="info-input">
										<textarea name="content" rows="5" cols="50">$detail[contact][des]</textarea>
									</td>
								</tr>
                            </table>
                        </div>
                        <div class="order-form-submit">
                            <input type="hidden" name="oid" value="$order[oid]" />
                            <input type="submit" value="确认，提交发起" name="dosubmit" class="formbutton">&nbsp;
                            <span class="order-form-return"><a href="{url tuan/index}">放弃，回首页</a></span>
                        </div>
                        </form>
                    </div>
                </div>
                <div class="tuan-main-box-bottom"></div>
            </div>
        </div>
        <div class="sidebar">
            <div class="sbox-border">
                <div class="sbox-top"></div>
                <div class="sbox-body">
                    <h2>什么是自助团购？</h2>
                    <div class="tuan-comment">
                        没有您想要的团购吗？那么就发起自助团购，有多数人感兴趣时，我们将会发起这个团购！
                    </div>
                </div>
                <div class="sbox-bottom"></div>
            </div>
        </div>
    </div>
</div>
{template tuan_footer}