<!--{eval
    $head_title = array();
    isset($subject[name]) && $head_title[] = $subject[name].$subject[subname];
    isset($area[$aid]) && $head_title[] = $area[$aid][name];
    isset($F->category[$catid]) && $head_title[] = $F->category[$catid][name];
    $head_title[] = $MOD[name];
    $_HEAD['title'] = implode($_CFG['titlesplit'],$head_title);
}-->

{template modoer_header}
<DIV id="body_wrap">
	<DIV class="fm960 clearfix" id="body"> 
		<!--{if $subject}-->
		<DIV id="content_top">
			<DIV class="piece1 mb20">
				<DIV class="piece1_hd"></DIV>
				<DIV class="piece1_bd user_info">
					<DIV class="user_info_left fl">
						<DIV class="user_profile fl"><SPAN class=uname>$subject[name]</SPAN> <BR>
							<DIV class="home_follow">
								<DIV class="followdiv fl" type="all"><A class=addfo href="javascript:add_favorite($subject[sid]);">关注</A> </DIV>
								<DIV class="see_more_info fl"> </DIV>
							</DIV>
						</DIV>
					</DIV>
					<DIV class="user_collect_info fr">
						<DIV class="collect_list"><A class="ft18 color52">$subject[pageviews]</A><BR>
							<SPAN class="color52">浏览</SPAN> </DIV>
						<DIV class="collect_list bd_none"><A class="ft18 color52">$subject[favorites]</A><BR>
							<SPAN class="color52">关注</SPAN> </DIV>
					</DIV>
				</DIV>
				<DIV class="piece1_home_ft home_nav"> 
					<!--{loop $links $i $link}--> 
					{if $i} {/if}<a href="$link[url]"{if $link[flag]=='fenlei'}  style="background:url({URLROOT}/{$_G[tplurl]}images/site_home_bg.png) 0 -209px #ff97bf; color:#fff;" {/if}>$link[title]</a> 
					<!--{/loop}--> 
				</DIV>
			</DIV>
		</DIV>
		<!--{/if}-->
		<DIV class="piece piece_w960">
			<DIV class="piece_hd"><B class=hl></B><B class=hr></B></DIV>
			<DIV class="piece_bd clearfix">
				<DIV class="fl" id="content_body2">
					<DIV class="show_body clear_in pt10"><!--商品或图片 -->
						<div class="link_path" style="padding-left:0px"> <em class="font_3"> <span class="review-ico"><a href="{url fenlei/member/ac/manage/op/add}"><b>发布信息</b></a></span> </em> <a href="{url modoer/index}">{lang global_index}</a>&nbsp;&raquo;&nbsp;{print implode('&nbsp;&raquo;&nbsp;', $urlpath)} </div>
						<div class="clear" style="height:10px"></div>
						<DIV class="ff" style="MARGIN:0px"> <A style="FONT-SIZE: 14px; FLOAT: left; COLOR: #666">按地区查找：</A>
							<UL class="mr10" style="min-height:36px">
								{get:modoer val=area(pid/$_CITY[aid])} <li$active[paid][$val[aid]]><a href="{url fenlei/list/sid/$sid/aid/$val[aid]/catid/$catid}">$val[name]</a>
								</li>
								{/get}
							</UL>
							<div class="clear"></div>
							<!--{if $area_level==3}--> 
							<A style="FONT-SIZE: 14px; FLOAT: left; COLOR: #666">按街道查找：</A>
							<UL class="mr10" style="min-height:36px">
								{get:modoer val=area(pid/$paid)} <li$active[aid][$val[aid]]><a href="{url fenlei/list/sid/$sid/aid/$val[aid]/catid/$catid}">$val[name]</a>
								</li>
								{/get}
							</UL>
							<!--{/if}-->
							<div class="clear"></div>
							<A style="FONT-SIZE: 14px; FLOAT: left; COLOR: #666">按大分类查找：</A>
							<UL class="mr10" style="min-height:36px">
								{get:fenlei val=category(pid/0)} <li$active[pid][$val[catid]]><a href="{url fenlei/list/sid/$sid/aid/$aid/catid/$val[catid]}">$val[name]</a>
								</li>
								{/get}
							</UL>
							<div class="clear"></div>
							<A style="FONT-SIZE: 14px; FLOAT: left; COLOR: #666">按子分类查找：</A>
							<UL class="mr10" style="min-height:36px">
								{get:fenlei val=category(pid/$pid)} <li$active[catid][$val[catid]]><a href="{url fenlei/list/sid/$sid/aid/$aid/catid/$val[catid]}">$val[name]</a>
								</li>
								{/get}
							</UL>
							<div class="clear"></div>
						</DIV>
						<div class="fenlei-list"> 
							<!--{if $tops}--> 
							<!--{eval $fenlelist =& $tops;}--> 
							<!--{template fenlei_list_normal}--> 
							<!--{/if}--> 
							
							<!--{if $total}--> 
							<!--{eval $fenlelist =& $list;}--> 
							<!--{template fenlei_list_normal}-->
							<div class="multipage">$multipage</div>
							<!--{/if}--> 
							
							<!--{if !$tops && !$list}-->
							<div class="messageborder">没有找到信息。</div>
							<!--{/if}--> 
						</div>
					</DIV>
				</DIV>
				<DIV class="fr" id="right_side1">

				    <!--{if $subject}--> 
						<script type="text/javascript">loadscript('item');</script>
                        <div class="side_subject">
                            <h2><a href="{url item/detail/id/$sid}" src="$subject[thumb]" onmouseover="tip_start(this,1);" style="color:#87B32E">$subject[name]&nbsp;$subject[subname]</a></h2>
                            <!--{eval $reviewcfg = $_G['loader']->variable('config','review');}-->
                            <p class="start start{print get_star($subject[avgsort],$reviewcfg[scoretype]);}"></p>
                            <table class="side_subject_field_list" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td colspan="2">
                                        <span class="font_2">$subject[reviews]</span>点评,
                                        <span class="font_2">$subject[guestbooks]</span>留言, <span class="font_2">$subject[pageviews]</span>浏览
                                    </td>
                                </tr>
                                $subject_field_table_tr
                            </table>
                            <a class="abtn1" href="{url review/member/ac/add/type/item_subject/id/$sid}"><span>我要点评</span></a> <a class="abtn2" href="javascript:add_favorite($sid);"><span>关注</span></a> <a class="abtn2" href="{url item/detail/id/$sid/view/guestbook}#guestbook"><span>留言</span></a>
                            <div class="clear"></div>
                        </div>
					
					<!--{else}-->
					<DIV class="coupon_side" style="border:0px; padding-left:10px ">
						<H3>搜索</H3>
						<form method="get" action="{URLROOT}/index.php">
							<input type="hidden" name="act" value="search" />
							<input type="hidden" name="module_flag" value="fenlei" />
							<table class="xsearch" border="0" cellspacing="0" cellpadding="0">
								<tr>
									<td width="60" align="right">所在地区：</td>
									<td width="*">
										<select name="aid">
											<option value="0" selected="selected" disabled>==选择地区==</option>
											<!--{print form_area($_CITY[aid],$aid)}-->
										</select>
									</td>
								</tr>
								<tr>
									<td align="right">所属分类：</td>
									<td>
										<select name="catid">
											<option value="0" selected="selected" disabled>==选择分类==</option>
											<!--{get:fenlei val=category(pid/0)}-->
											<option value="$val[catid]"{if $catid==$val[catid]} selected{/if}>$val[name]</option>
											<!--{get:fenlei _val=category(pid/$val[catid])}-->
											<option value="$_val[catid]"{if $catid==$_val[catid]} selected{/if}>&nbsp;&nbsp;└$_val[name]</option>
											<!--{/get}--> 
											<!--{/get}-->
										</select>
									</td>
								</tr>
								<tr>
									<td align="right">发布会员：</td>
									<td>
										<input type="text" name="username" value="$username" class="t_input" size="25" />
									</td>
								</tr>
								<tr>
									<td align="right">关键字：</td>
									<td>
										<input type="text" name="keyword" value="$keyword" class="t_input" size="25" />
									</td>
								</tr>
								<tr>
									<td>&nbsp;</td>
									<td>
										<input type="submit" value=" 搜索 " />
									</td>
								</tr>
							</table>
						</form>
					</DIV>
					<!--{/if}-->
					
					<DIV class="coupon_side" style=" margin-left:15px">
						<H3>特别推荐</H3>
						<UL>
							{get:fenlei val=getlist(city_id/_CITYID_/top/1/row/10)}
							<LI>
								<H4 class=ag_t><A class=glink href="{url fenlei/detail/id/$val[fid]}" target=_blank>{sublen $val[subject],15}</A></H4>
								<span>{date $val[dateline],'m-d'}</span></LI>
							{getempty(val)}
							<li>暂无信息</li>
							{/get}
						</UL>
					</DIV>
				</DIV>
			</DIV>
			<DIV class="piece_ft"><B class=fl></B><B class=fr></B></DIV>
		</DIV>
	</DIV>
</DIV>
<!--{eval footer();}-->