<!--{eval
    $_HEAD['title'] = $subject[name]."的关联小组";
}-->
{template modoer_header}
<div id="body_wrap">
	<div class="fm960 clearfix" id="body">
        {if $subject}
		<DIV id="content_top">
			<DIV class="piece1 mb20">
				<DIV class="piece1_hd"></DIV>
				<DIV class="piece1_bd user_info">
					<DIV class="user_info_left fl">
						<DIV class="user_profile fl"><SPAN class=uname>$subject[name]</SPAN> <BR>
							<DIV class="home_follow">
								<DIV class="followdiv fl" type="all" uid="1508hy"><A class=addfo href="javascript:add_favorite($detail[sid]);">关注</A> </DIV>
								<DIV class="see_more_info fl"> </DIV>
							</DIV>
						</DIV>
					</DIV>
					<DIV class="user_collect_info fr">
						<DIV class="collect_list"><A class="ft18 color52">$subject[pageviews]</A><BR>
							<SPAN class=color52>浏览</SPAN> </DIV>
						<DIV class="collect_list bd_none"><A class="ft18 color52">$subject[favorites]</A><BR>
							<SPAN class=color52>关注</SPAN> </DIV>
					</DIV>
				</DIV>
				<DIV class="piece1_home_ft home_nav"> 
					<!--{loop $links $i $link}--> 
					{if $i} {/if}<a href="$link[url]"{if $link[flag]=='group'}  style="background:url({URLROOT}/{$_G[tplurl]}images/site_home_bg.png) 0 -209px #ff97bf; color:#fff;" {/if}>$link[title]</a> 
					<!--{/loop}--> 
				</DIV>
			</DIV>
		</DIV>
        {/if}
		<div class="piece piece_w960">
			<div class="piece_hd"><B class=hl></B><B class=hr></B></div>
			<div class="piece_bd clearfix">
                <div class="fl discussion_left">
                    <div class="show_body clear_in">
                        {if $total > 0}
                        {template group_part_list}
                        {/if}
                    </div>
                    {if $multipage}<div class="multipage">$multipage</div>{/if}
                </div>
                <div class="fr discussion_right">
                    <div class="coupon_side">
                        <script type="text/javascript">loadscript('item');</script>
                        <div class="mainrail">
                            <h2 class="rail-h-2"><b><a href="{url item/detail/id/$subject[sid]}"><span class="font_2">$subject[name]&nbsp;$subject[subname]</span></a></b></h2>
                            <div class="side_subject">
                                <!--{eval $reviewcfg = $_G['loader']->variable('config','review');}-->
                                <p class="start start{print get_star($subject[avgsort],$reviewcfg[scoretype])}"></p>
                                <table class="side_subject_field_list" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td colspan="2"><span class="font_2">$subject[reviews]</span>点评,
                                        <span class="font_2">$subject[guestbooks]</span>留言,
                                        <span class="font_2">$subject[pageviews]</span>浏览</td>
                                    </tr>
                                    $subject_field_table_tr
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="piece_ft"><B class=fl></B><B class=fr></B></div>
        </div>
    </div>
</div>
<!--{eval footer();}-->