{dbres $list $val}
<div class="grouplist">
    <div class="gbox">
        {eval if(!$val[icon]) $val['icon']='static/images/z_noimg.gif';}
        <div class="gicon">
            <a href="{url group/$val[gid]}" title="$val[groupname]"><img src="{URLROOT}/$val[icon]" alt="$val[groupname]" /></a>
            <div class="join"><a href="javascript:;" onclick="group_join($val[gid]);">+ 加入小组</a></div>
        </div>
        <div class="gcontent">
            <h3><a href="{url group/$val[gid]}" title="$val[groupname]">$val[groupname]</a></h3>
            <div class="info">
                有 $val[members] 个成员
                {if $val[username]} · 组长：<a href="{url space/index/uid/$val[uid]}">$val[username]</a>{/if}
            </div>
            <p>{sublen $val[des],35,'...'}</p>
        </div>
    </div>
</div>
{/dbres}
<div class="clear"></div>