<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=$_G[charset]" />
<meta http-equiv="x-ua-compatible" content="ie=7" />
<title>$_CFG[sitename]</title>
<meta name="keywords" content="$_HEAD[keywords]" />
<meta name="description" content="$_HEAD[description]" />
<link rel="stylesheet" type="text/css" href="{URLROOT}/{$_G[tplurl]}css_common.css" />
<script type="text/javascript" src="{URLROOT}/data/cachefiles/config.js"></script>
<script type="text/javascript">
<!--{if !empty($MOD)}-->
var mod = modules['{$MOD[flag]}'];
<!--{/if}-->
</script>
<script type="text/javascript" src="{URLROOT}/static/javascript/jquery.js"></script>
<script type="text/javascript" src="{URLROOT}/static/javascript/common.js"></script>
<!--{if $_CFG[headhtml]}-->$_CFG[headhtml]<!--{/if}-->
</head>
<body  class="city">
<script type="text/javascript" src="{URLROOT}/static/javascript/member.js"></script>

<div class="selectcity-header clearfix">
    <div class="fm960">
        <a href="{url modoer/index}"><img src="{URLROOT}/static/images/logo.jpg" alt="$_CFG[sitename]" title="$_CFG[sitename]"></a>
    </div>
</div>



    <div class="selectcity-body clearfix">
		<div class="selectcity-body-top clearfix"> <h3>目前<span class="font_1">$_CFG[sitename]</span>已经开通<span class="font_2">$total</span>个城市，立刻选择你所关心的城市！<a href="{print:modoer cityurl(city_id/$d_city[aid]/forward/$forward)}">进入{$d_city[name]}站</a></h3></div>
     
        <h5>热门城市：
            <!--{get:modoer val=citys(num/10)}-->
            <span><a href="{print:modoer cityurl(city_id/$val[aid]/forward/$forward)}">$val[name]</a></span>
            <!--{/get}-->
        </h5>
        <h5>按名称排序：</h5>
        <!--{loop $list $initial $val}-->
        <ul>
            <li>
                <span class="selectcity-body-word">{$initial}.</span>
                <!--{loop $val $k $v}-->
                <a href="{print:modoer cityurl(city_id/$k/forward/$forward)}">$v[name]</a>
                <!--{/loop}-->
            </li>
        </ul>
        <!--{/loop}-->
    </div>


<!--{eval footer();}-->