<!--{eval
    $_HEAD['title'] = $detail[subject];
}-->
{template modoer_header}
<DIV id="body_wrap">
	<DIV class="fm960 clearfix" id="body"> 
		<!--{if $detail['sid']}--> 
		<script type="text/javascript">loadscript('item');</script>
		<DIV id="content_top">
			<DIV class="piece1 mb20">
				<DIV class="piece1_hd"></DIV>
				<DIV class="piece1_bd user_info">
					<DIV class="user_info_left fl">
						<DIV class="user_profile fl"><SPAN class=uname>$subject[name]</SPAN> <BR>
							<DIV class="home_follow">
								<DIV class="followdiv fl" type="all"><A class=addfo href="javascript:add_favorite($detail[sid]);">关注</A> </DIV>
								<DIV class="see_more_info fl"> </DIV>
							</DIV>
						</DIV>
					</DIV>
					<DIV class="user_collect_info fr">
						<DIV class="collect_list"><A class="ft18 color52">$subject[pageviews]</A><BR>
							<SPAN class=color52>浏览</SPAN> </DIV>
						<DIV class="collect_list bd_none"><A class="ft18 color52">$subject[favorites]</A><BR>
							<SPAN class=color52>关注</SPAN> </DIV>
					</DIV>
				</DIV>
				<DIV class="piece1_home_ft home_nav"> 
					<!--{loop $links $i $link}--> 
					{if $i} {/if}<a href="$link[url]"{if $link[flag]=='party'}  style="background:url({URLROOT}/{$_G[tplurl]}images/site_home_bg.png) 0 -209px #ff97bf; color:#fff;" {/if}>$link[title]</a> 
					<!--{/loop}--> 
				</DIV>
			</DIV>
		</DIV>
		<!--{/if}-->
		<DIV class="piece piece_w960">
			<DIV class="piece_hd"><B class=hl></B><B class=hr></B></DIV>
			<DIV class="piece_bd clearfix">
				<DIV class="fl" id="content_body2">
					<DIV class="show_body clear_in pt10"><!--商品或图片 -->
						<div class="link_path"> <em><span class="review-ico"><a href="{url party/member/ac/party/op/add}"><b>发起活动</b></a></span></em> <a href="{url modoer}">首页</a>&nbsp;&raquo;&nbsp;{print implode('&nbsp;&raquo;&nbsp;', $urlpath)} </div>
						<div id="party_left">
							<div class="mainrail party">
								<div class="party-subject">
									<h3>[{print lang('party_flag_'.$detail[flag])}]&nbsp;$detail[subject]</h3>
									<div class="op"> 发起者：$detail[username]&nbsp;&nbsp;&nbsp;
										发起时间：{date $detail[dateline],'Y-m-d H:i'}&nbsp;&nbsp;&nbsp; <span><a href="#" onclick="window.print();">打印</a></span> 
										<!--{if $party_owner}--> 
										&nbsp;&nbsp;&nbsp; <span><a href="{url party/member/ac/apply/id/$detail[partyid]}">管理会员</a></span>&nbsp;&nbsp;&nbsp; <span><a href="{url party/member/ac/picture/id/$detail[partyid]}">管理照片</a></span>&nbsp;&nbsp;&nbsp; <span><a href="{url party/member/ac/party/op/content/id/$detail[partyid]}">撰写回顾</a></span> 
										<!--{/if}--> 
									</div>
								</div>
								<table border="0" cellspacing="0" cellpadding="0" class="party-info-table">
									<tr>
										<td class="party-info-thumb"><img src="{URLROOT}/{if $detail[thumb]}$detail[thumb]{else}static/images/noimg.gif{/if}" /></td>
										<td class="party-info-detail" valign="top" style="vertical-align:top">
											<ul class="party-detail-ul">
												<li>活动类型：{print:party category(catid/$detail[catid])}</li>
												<li>报名截止：{date $detail[joinendtime]}</li>
												<li>活动时间：{date $detail[begintime]}&nbsp;~&nbsp;{date $detail[endtime]}</li>
												<li>活动地址：{print:modoer area(aid/$detail[aid])}&nbsp;$detail[address]</li>
												<li>性别限制：{print lang('party_sex_'.$detail[sex])}</li>
												<li>活动费用：$detail[price] 元人民币/人</li>
												<li>活动人数：$detail[plannum] 人</li>
												<li> 
													<!--{if $detail[flag]==1 && !$joined && !$party_owner}--> 
													<a class="abtn1" href="{url party/member/ac/apply/op/apply/id/$detail[partyid]}" onclick="return apply_party($detail[partyid]);"><span>我要报名</span></a>&nbsp;&nbsp; 
													<!--{/if}-->
													<div>{if $joined}<span class="font_1">我已经报名</span>&nbsp;&nbsp;{/if}目前已有 <span class="font_1"><b>$detail[num]</b></span> 人报名</div>
												</li>
											</ul>
										</td>
									</tr>
								</table>
							</div>
							<ul class="party-tab" id="party-tab">
								<li{if !$_GET[view]} class="selected"{/if} id="party_table_des"><a href="###" onclick="party_tab('party_table_des');" onfocus="this.blur()">活动介绍</a>
								</li>
								<li{if $_GET[view]=='apply'} class="selected"{/if} id="party_table_member"><a href="###" onclick="party_tab('party_table_member');" onfocus="this.blur()">已报名会员</a>
								</li>
								<li{if $_GET[view]=='pic'} class="selected"{/if} id="party_table_pic"><a href="###" onclick="party_tab('party_table_pic');" onfocus="this.blur()">活动图片</a>
								</li>
								<li{if $_GET[view]=='content'} class="selected"{/if} id="party_table_content"><a href="###" onclick="party_tab('party_table_content');" onfocus="this.blur()">精彩回顾</a>
								</li>
							</ul>
							<div class="party-tab-line"></div>
							<div class="party-tab-foo">
								<div class="party-des{if $_GET[view]} none{/if}" id="party_table_des_foo"> $detail[des] </div>
								<div class="party-pictures{if $_GET[view]!='pic'} none{/if}" id="party_table_pic_foo"> 
									<!--{if $joined || $party_owner}-->
									<div class="party-pictures-upload"><span class="update-img-ico"><a href="{url party/member/ac/picture/op/upload/id/$detail[partyid]}">我要上传活动照片</a></span></div>
									<!--{/if}-->
									<ul class="party_picture_ul" id="party_picture_ul">
										<!--{dbres $pics $val}-->
										<li id="pic_$val[picid]">
											<div><a href="{URLROOT}/$val[pic]" target="_blank" title="$val[title] $val[username]"><img src="{URLROOT}/{$val[thumb]}" /></a></div>
											<p><span><a href="{url space/index/suid/$val[uid]}">$val[username]</a> 上传</span></p>
										</li>
										<!--{/dbres}-->
									</ul>
									<div class="clear"></div>
									<!--{if multipage}-->
									<div class="multipage">$pic_multipage</div>
									<!--{/if}--> 
									<!--{if $pic_total}-->
									<link rel="stylesheet" type="text/css" href="{URLROOT}/static/images/lightbox.css" />
									<script type="text/javascript" src="{URLROOT}/static/javascript/lightbox.js"></script> 
									<script type="text/javascript">
                                        $(function() { $('#party_picture_ul li div a').lightBox(); });
                                    </script> 
									<!--{/if}--> 
								</div>
								<div class="party-content{if $_GET[view]!='content'} none{/if}" id="party_table_content_foo"> {if $content}
									$content[content]
									{else}
									<div class="messageborder">组织者没有提交精彩回顾。</div>
									{/if} </div>
								<div class="party-member{if $_GET[view]!='apply'} none{/if}" id="party_table_member_foo">
									<ul>
										<!--{dbres $applys $val}-->
										<li>
											<div><a href="{url space/index/uid/$val[uid]}" target="_blank"><img src="{print get_face($val[uid])}" /></a></div>
											<p>$val[username]</p>
										</li>
										<!--{/dbres}-->
									</ul>
									<div class="clear"></div>
									<!--{if multipage}-->
									<div class="multipage">$apply_multipage</div>
									<!--{/if}--> 
								</div>
							</div>
							<div class="mainrail rail-border-3">
								<h3 class="rail-h-3 rail-h-bg-3">咨询交流区</h3>
								<div id="party-comment-all-foo"> 
									<!--{template party_detail_comment}--> 
								</div>
							</div>
						</div>
					</DIV>
				</DIV>
				<DIV class="fr" id="right_side1">
					<DIV class="product_slide">
						<H3>组织者信息</H3>
						<ul>
							<LI> 
								<!--{if $detail[uid]}--> 
								<A class=fl href="{url space/index/uid/$detail[uid]}" target=_blank><IMG class=r5 src="{print get_face($detail[uid])}"></A>
								<H4 class=ag_t><A class=glink href="{url space/index/uid/$detail[uid]}" target=_blank>$detail[username]</A></H4>
								<!--{else}-->
								<H4 class=ag_t>网站发起的活动</H4>
								<!--{/if}-->
								<P  style="line-height: 18px;overflow: hidden; float:left; width:180px">联系人：$detail[linkman]</P>
								<!--{if !$MOD[joined_showcontact] || $joined}-->
								<P  style="line-height: 18px;overflow: hidden; float:left"> 联系方式：$detail[contact]</P>
								<!--{else}-->
								<P  style="line-height: 18px;overflow: hidden; float:left"> 联系方式：报名后可见</P>
								<!--{/if}--> 
							</LI>
						</ul>
					</DIV>
					<DIV class="coupon_side">
						<H3>组织者其他活动</H3>
						<UL>
							{get:party val=getlist(uid/$detail[uid]/orderby/dateline DESC/rows/10)}
							<LI>
								<H4 class=ag_t><A class=glink href="{url party/detail/id/$val[partyid]}" target=_blank>{sublen $val[subject],15}</A></H4>
								<span>{date $val[dateline],'m-d'}</span></LI>
							{/get}
						</UL>
					</DIV>
					<!--{if $detail[num]}-->
					<DIV class="coupon_side">
						<H3>最近报名的会员</H3>
						<UL>
							{get:party val=joins(partyid/$detail[partyid]/orderby/dateline DESC/rows/10)}
							<LI>
								<H4 class=ag_t><a href="{url space/index/uid/$val[uid]}">$val[username]</a> 在 {date $val[dateline]} 报名了</H4>
							</LI>
							{/get}
						</UL>
					</div>
					<!--{/if}--> 
					<!--{if $subject}--> 
                    <div class="clear"></div>
					<script type="text/javascript">loadscript('item');</script>
					<div class="side_subject mt10">
						<h2><a href="{url item/detail/id/$sid}" src="$subject[thumb]" onmouseover="tip_start(this,1);" style="color:#87B32E">$subject[name]{if $subject[subname]}$subject[subname]{/if}</a></h2>
						<!--{eval $reviewcfg = $_G['loader']->variable('config','review');}-->
						<p class="start start{print get_star($subject[avgsort],$reviewcfg[scoretype]);}"></p>
						<table class="side_subject_field_list" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td colspan="2">
                                    <span class="font_2">$subject[reviews]</span>点评,
                                    <span class="font_2">$subject[guestbooks]</span>留言, <span class="font_2">$subject[pageviews]</span>浏览
                                </td>
							</tr>
							$subject_field_table_tr
						</table>
						<a class="abtn1" href="{url review/member/ac/add/type/item_subject/id/$sid}"><span>我要点评</span></a> <a class="abtn2" href="javascript:add_favorite($sid);"><span>关注</span></a> <a class="abtn2" href="{url item/detail/id/$sid/view/guestbook}#guestbook"><span>留言</span></a>
						<div class="clear"></div>
					</div>
					<!--{if $subject[mappoint]}-->
					<div class="mainrail"> 
						<!--{eval $mapparam = array(
                            'width' => '245',
                            'height' => '245',
                            'title' => $subject[name] . $subject[subname],
                            'p' => $subject[mappoint],
                            'show' => $subject[mappoint]?1:0,
                        );}-->
						<iframe class="site_subject_map" src="{URLROOT}/index.php?act=map&{print url_implode($mapparam)}" frameborder="0" scrolling="no" width="245" height="245"></iframe>
						<div style="text-align:center;margin:5px 0;"> 
							<!--{if !$subject['mappoint']}--> 
							<a href="javascript:post_map($subject[sid], $subject[pid]);">地图未标注，我来标注</a> 
							<!--{else}--> 
							<a href="javascript:show_bigmap();">查看大图</a>&nbsp; <a href="javascript:post_map($subject[sid], $subject[pid]);">报错</a> 
							<!--{/if}--> 
						</div>
					</div>
					<script type="text/javascript">
                        function show_bigmap() {
                            <!--{eval $mapparam = array(
                                'width' => '600',
                                'height' => '400',
                                'title' => $subject[name] . $subject[subname],
                                'p' => $subject[mappoint],
                                'show' => $subject[mappoint]?1:0,
                            );}-->
                            var src = "{URLROOT}/index.php?act=map&{print url_implode($mapparam)}";
                            var html = '<iframe src="' + src + '" frameborder="0" scrolling="no" width="100%" height="400" id="ifupmap_map"></iframe>';
                            dlgOpen('查看大图', html, 600, 450);
                        }
                    </script> 
					<!--{/if}--> 
					<!--{/if}--> 

				</div>
			</div>
			<div class="piece_ft"><b class=fl></b><b class=fr></b></div>
		</div>
	</div>
</div>
<!--{eval footer();}-->