<!--{if !defined('IN_AJAX')}-->
{template modoer_header}
</script>
<div id="body">
<div class="myhead"></div>
<div class="mymiddle">
    <div class="myleft">
        <!--{template 'menu','member','member'}-->
    </div>
    <div class="myright">
        <div class="myright_top"></div>
        <div class="myright_middle">
            <h3>照片上传</h3>
<!--{/if}-->
            <div class="mainrail">
                <form method="post" name="frm_picture_upload" id="frm_picture_upload" action="{url party/member/ac/$ac/op/save/in_ajax/$_G[in_ajax]/rand/$_G[random]}" enctype="multipart/form-data">
                <input type="hidden" name="partyid" value="$party[partyid]" />
                <table width="100%" cellspacing="0" cellpadding="0" class="maintable">
                    <tr>
                        <td align="right" width="100">活动名称：</td>
                        <td width="*"><a href="{url party/detail/id/$party[partyid]}" target="_blank">$party[subject]</a></td>
                    </tr>
                    <tr>
                        <td align="right">照片标题：</td>
                        <td><input type="text" class="t_input" size="30" name="title" /></td>
                    </tr>
                    <tr>
                        <td align="right">照片文件：</td>
                        <td><input type="file" name="picture" /></td>
                    </tr>
                </table>
                <div class="text_center" id="op_foot">
                    <!--{if defined('IN_AJAX')}-->
                    <input type="hidden" name="dosubmit" value="yes" />
                    <button type="button" class="button" onclick="ajaxPost('frm_picture_upload', '', 'document_reload');">提交</button>&nbsp;&nbsp;
                    <button type="button" class="button" onclick="dlgClose();">关闭</button>
                    <!--{else}-->
                    <input type="hidden" name="forward" value="{print get_forward()}" />
                    <button type="submit" name="dosubmit" value="yes">提交</button>&nbsp;&nbsp;
                    <button type="button" onclick="history.go(-1);">返回</button>
                    <!--{/if}-->
                </div>
                </form>
            </div>
<!--{if !defined('IN_AJAX')}-->
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="mybottom"></div>
</div>
<!--{eval footer();}-->
<!--{/if}-->