
a { color: #333; text-decoration: none; }
a:hover { color: #3D8901; text-decoration: underline; }
.tabmenu { clear:both;width:960px;height:36px;padding-top:0;padding-left:0; font-size:14px;margin:0;list-style:none; background: none #86BB2B; }
.tabmenu li {float:left;height:36px;margin-left:20px;padding-right:20px;background:url("images/menu.png") right no-repeat; _display:inline;}
.tabmenu li a {float:left;height:36px;line-height:36px;color: #fff; font-size:14px; font-weight:bold;}
.tabmenu li a:hover { color:#FFF; text-decoration:none;}
.tabmenu .current { margin-left:0;padding-left:10px;margin-top:0;margin-right:0;padding-right:5px;background: none #006B28; }
.tabmenu .current a { padding-right:12px;padding-left:4px;font-weight:bold;background: none #006B28;color:#FFF; }
.tabmenu .current a:hover { color:#FFF; }
.search { padding-left:15px; background: none; height:30px; border-style:solid; border-color:#DCDCDC; border-width:0 1px 1px 1px;  }

.ix1_center .hl h2 a { color:#86BB2B; }
.ix1_right { float:right; margin-top:2px; width:245px; background:url(images/index1_bg.jpg) no-repeat; height:250px;}
.ix_tab .selected a { color:#86BB2B; border-bottom:1px solid #86BB2B; }
.ix_finer { background:url(images/ix_finer.jpg) no-repeat; height:35px; }
.ix_picture { background:url(images/ix_picture.jpg) no-repeat; height:35px; }
.ix_review { background:url(images/ix_review.jpg) no-repeat; height:35px; }
.ix_feed { background:url(images/ix_feed.jpg) no-repeat; height:35px; }
.ix_left1_more { display:block; float:right; line-height:35px; margin-right:10px; }
.review .feed { background:#F2F6EE; padding:0 5px; line-height:25px; margin-bottom:5px; }

#footer .links { background: none; line-height:40px;height:42px; border-top:1px solid #EEEEEE; }


.art_ix_l1 .l1_comment_news { border: 1px solid #DDDDDD ;}
.arrow-ico      { background:url('images/mini-arrow.gif')       no-repeat 0 4px;    padding-left:10px;  margin:0; }

.rail-h-2 { font-size: 12px; margin:0 0 0px 0; padding: 6px 5px 4px 10px; color:#3D8901; font-weight:normal; }
.mainrail em .selected { background:#86BB2B; margin:0; cursor:pointer; -moz-border-radius:3px;-webkit-border-radius:3px;
    color:#FFF; position:relative;padding:2px 3px;top:0px;*top:-1px;}
.rail-h-bg-5 { background:#ECF2E7; color:#006B28; line-height:20px; }

.list-filter-item dd ul li .selected a { color:#3D8901; }
.subrail .selected a { color:#3D8901; text-decoration:none; }
.itemlist .item .info h3 a { color:#3D8901; }
.itemfiner { background:#F4F8F1; }
.item .header h3 { font-size:16px; color:#3D8901; font-weight:bold; letter-spacing:1px; height:25px; }
.custom_field .key { width:100px; text-align:right; background:#F4F8F1; }
.font_6 { color: #3D8901; padding: 0 1px; }
.font_2 { color: #3D8901; padding: 0 1px; }
.side_subject h2 a { color: #3D8901;}
.gift_sieve_out { border-bottom: 2px solid #71a616; margin: 10px auto 0;}

.g-list-category .selected a {color: #3D8901;}
.album-view-normal .info h3 a { color: #3D8901;}
.wf-category li.selected a { color: #FFF;}

.review-index-digst h5 a { color: #3D8901;}
.review-index-tab li.selected a {  background: none repeat scroll 0 0 #86BB2B;}
.review-index-tab-line { border-top: 2px solid #86BB2B;}
.mdialog {
    background: none repeat scroll 0 0 #F2F6EE;
    border: 7px solid #86BB2B;
}
.mdialog .mheader span {
    color: #3D8901;
    font-weight: bold;
}
.comm-dropdown-city li.current {
    background: none repeat scroll 0 0 #86BB2B;
}
.comm-dropdown-city li a:hover { text-decoration:none; color:#FFF; background:#006B28; -moz-border-radius:2px; -webkit-border-radius:2px; }
.cate h2 {
    background: url("images/mini-arrow.gif") no-repeat scroll 0 3px transparent;
}

.cate .selected a {
    color: #3D8901;
    font-weight: bold;
}

.subject_top h3 a {
    color: #3D8901;
}

.category {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #ddd;
    margin-bottom: 5px;
    overflow: hidden;
    padding: 0;
}
.rail-border-1 {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #ddd !important;
}

.category .selected a {
    color: #3D8901;
    text-decoration: underline;
}

.topsort .title h3 { margin:0;padding:0;text-align:center;color:#333333;font-size:14px;line-height:25px; }
.topsort .body { padding-left:1px; padding-bottom:2px;}
.topsort .body table { padding-bottom:1px; }
.topsort .body th { border-bottom:1px solid #eee; font-weight:normal; padding:0 5px; line-height:16px;}
.topsort .body td { padding:3px 5px; line-height:16px;}
.topsort .body td div {  width:180px; white-space:nowrap; overflow-x: hidden;  }
.topsort .cl0 { background:#ECF2E7; }
.topsort .cl1 { background:#ECF2E7; }
.topsort .cl2 { background:#ECF2E7; }
.topsort .cl3 { background:#ECF2E7; }
.topsort .cl4 { background:#ECF2E7; }
.topsort .cl5 { background:#ECF2E7; }
.topsort .cl6 { background:#ECF2E7; }
.topsort .cl7 { background:#ECF2E7; }
.topsort .cl8 { background:#ECF2E7; }
.topsort .cl9 { background:#ECF2E7; }
.topsort .cl10 { background:#ECF2E7; }
.topsort .cl11 { background:#ECF2E7; }
.topsort .cl12 { background:#ECF2E7; }
.topsort .cl13 { background:#ECF2E7; }
.topsort .cl14 { background:#ECF2E7; }